<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".title_sample" %></h1>
  <h2>
    <%= t ".content_sample" %>
    <a href="http://www.railstutorial.org/">
      <%= t ".link_name_sample" %>
    </a>
    <%= t ".content_end_sample" %>
  </h2>
  <%= link_to t(".sign_up"), sigup_path,
  class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>
